{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fall Detector</title>
  <meta name="description" content="FYP Fall Detector">
  <meta name="author" content="Ralph Mukusa">
  <link rel="stylesheet" type="text/css" href="{% static "app/style.css" %}">
</head>

<body>
  <h1> Fall Detector </h1>
  <button type="button" id="connectButton"> Connect </button>
  <h4> Disconnected </h4>
  <h2 id="actionLabel"> Walking </h2>

  <script type="text/javascript" src="{% static "app/script.js" %}"></script>
</body>
</html>
