{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fall Detector</title>
    <meta name="description" content="FYP Fall Detector">
    <meta name="author" content="Ralph Mukusa">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "app/style.css" %}">
    {% block stylesheet %}{% endblock %}
    <script src="https://kit.fontawesome.com/86dd638102.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <h1> Fall Detector </h1>

    <!-- Label udates -->
    <div class="updateFields">
      {% include "app/update.html" %}
    </div>

    <!-- Navigation bar  -->
    <div class="navbar">
      <figure class="navItem">
        <a href="#"><i class="fas fa-map-marked-alt"></i></a>
        <figcaption class="navCaption">Map</figcaption>
      </figure>
      <figure class="navItem">
        <a href="#"><i class="fas fa-cogs"></i></a>
        <figcaption class="navCaption">Device</figcaption>
      </figure>
      <figure class="navItem">
        <a href="#" class="active"><i class="fas fa-upload"></i></a>
        <figcaption class="navCaption">Stream </figcaption>
      </figure>
      <figure class="navItem">
        <a href="#"><i class="fas fa-address-book" id="contactsIcon"></i></a>
        <figcaption class="navCaption">Contacts</figcaption>
      </figure>
      <figure class="navItem">
        <a href="#"><i class="fas fa-user-circle"></i></a>
        <figcaption class="navCaption">Profile</figcaption>
      </figure>
    </div>

    {% block javascript %}{% endblock %}

  </body>
</html>
