{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fall Detector</title>
  <meta name="description" content="FYP Fall Detector">
  <meta name="author" content="Ralph Mukusa">
  <link rel="stylesheet" type="text/css" href="{% static "app/style.css" %}">
  {% block stylesheet %}{% endblock %}
</head>

<body>
  <h1> Fall Detector </h1>
  <!--<form action="" id=connectForm method="post">
    {% csrf_token %}
    {% with enabled=""%}
    <button type="submit" id="connectButton" {{enabled}}> Connect </button>
    {% endwith %}
  </form>-->
  <div class="updateFields">
    {% include "app/update.html" %}
  </div>

  <!--<script type="text/javascript" src="{% static "app/script.js" %}"></script>
  <script type="text/javascript" src="{% static "app/jquery-3.5.0.js" %}"></script> -->
  {% block javascript %}{% endblock %}
</body>
</html>
